{
   "data_dir": "{{ datadir }}",
   "datacenter": "{{ title }}",
   "encrypt": "{{ encrypt }}",
   "log_file": "{{ logfile }}",
   "log_rotate_duration": "{{ logrotate }}",
   "retry_join": {{ _consul_server_json }}
}
